<div id='form_entreprise_vide' class="form_entreprise_vide">
    <h1>Enregistrer une nouvelle entreprise</h1>

    <form action="stagiaire.php" method="post" id="form_entreprise">
        <div class="form-group">
            <label>Raison Sociale</label>
            <input type="text" name="nom">
        </div>
        <div class="form-group">
            <label>Numéro</label>
            <input type="text" name="adnum">
        </div>
        <div class="form-group">
            <label>Rue</label>
            <input type="text" name="adrue">
        </div>
        <div class="form-group">
            <label>Code Postal</label>
            <input type="text" name="adcp">
        </div>
        <div class="form-group">
            <label>Ville</label>
            <input type="text" name="adville">
        </div>
        <div class="form-group">
            <label>Tel</label>
            <input type="text" name="tel">
        </div>
        <div class="form-group">
            <label>Mail</label>
            <input type="text" name="mail">
        </div>
        <div class="form-group">
            <label>Siret</label>
            <input type="text" name="siret">
        </div>
        <div class="form-group">
            <label>APE</label>
            <input type="text" name="ape">
        </div>
        <button name="form_entreprise_creer" type="submit" class="btn btn-default">Modifier</button>
      
        
    </form>
</div>
