{# empty Twig template #}

    <form action="stagiaire.php" method="post" id="ajout_tuteur" class='ajout_tuteur'>
        <div class="form-group">
            <label>Nom</label>
            <input type="text" name="nom">
        </div>
        <div class="form-group">
            <label>Prénom</label>
            <input type="text" name="prenom">
        </div>
        <div class="form-group">
            <label>Couriel</label>
            <input type="text" name="mail">
        </div>
        <div class="form-group">
            <label>Tel</label>
            <input type="text" name="tel">
        </div>
        <button name="ajouterTuteur" type="submit" class="btn btn-default">Ajouter</button>
    </form>
