{# empty Twig template #}
<div class=" haut navbar">

    <div class=" col-md-3 col-md-offset-1">
        <img src="vues/img/logoGEB3.gif" width="200" height="230" class="img-responsive" alt="image greta">
    </div>
    <div class="col-md-offset-3">
        <h1>gestion des periodes de stage </h1>
    </div>
</div>
