<section class="row">
    <div class="col-md-12 date"><h1>Date</h1></div>
</section>
<section class="row">
    <div class="col-md-5">
        <section class="row">
            <div class="col-md-12 cadre">Stagiaire</div>
        </section>
        <section class="row">
            <div class="col-md-12 cadre">Tuteur</div>
        </section>
    </div>


    <div class="col-md-7">
        <section class="row">
            <div class="col-md-12 cadre">Entreprise</div>
        </section>
        <section class="row">
            <div class="col-md-12 cadre">Poste</div>
        </section>
    </div>
</section>
<section class="row">
    <div class="col-md-12 activite">Activité</div>
</section>
